<div class="row">
    <div class="col-md-12">
        <div class="row post" style="margin:0in">
            <div class="col-md-8 post__title text--center">
                <a href=<%-page.name %>
                    <h4 class = "post-name--style">
                        <%- page.title %>
                    </h4>
                </a>
            </div>
            <div class="col-md-4 post__info text--bottom-right">
                <div>
                    <h6 style="font-style:italic">
                        <%- page.date %>
                    </h6>
                    <h5>posted by
                        <%- page.author %>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>